{% extends "admin/change_list.html" %}
{% load i18n admin_list admin_urls static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'short_plan/css/button_is_completed.css' %}">
{% endblock %}

{% block pagination %}
    <p class="paginator">
        {% block pagination_result_count %}
        {% if not show_update_button %}
            {{ instance_count }} {{ model_name }}
        {% endif %}
        {% endblock %}
        {% if show_update_button %}
            <input type="button" id="update-checked" value="Update" class="button">
        {% endif %}
    </p>
{% endblock %}

