<select name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
    {% for group, options, index in widget.optgroups %}
        {% if group %}
            <optgroup label="{{ group }}">
        {% endif %}
        {% for option in options %}
            <option value="{{ option.value }}"{% if option.selected %} selected{% endif %}>
                {{ option.label }}
            </option>
        {% endfor %}
        {% if group %}
            </optgroup>
        {% endif %}
    {% endfor %}
</select>
